<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💩</text></svg>">
  <title>giv me gifs ~</title>
</head>
<body>
  <div class="container text-center my-5 d-flex flex-column align-items-center">
    <a href="/"><h1 class="my-2">ಠ_ಠ</h1></a>
    {{{ body }}}
  </div>
  <p class="footer text-center">~ made by 🌱 ai ~</p>
</body>
</html>
