<h3 class="my-2">find mi sum dank memes</h3>

<form method="GET" class="w-100 my-2 d-flex justify-content-center" action="/search">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <input type="text" class="form-control" name="keyword" placeholder="giv mi something...">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-dark">UwU</button>
    </div>
  </div>
</form>
