<p class="my-2">You searched for <span class="keyword mx-2">{{ keyword }}</span></p>

<div class="results-container my-2">
  <p>🌚 well... this is awkward</p>
</div>

<a href="/" class="btn btn-dark">try again</a>
