<p class="my-2">You searched for <span class="keyword mx-2">{{ search }}</span></p>

<div class="results-container my-2">
  {{#each gifsImgArr as |gif| }}
  <a class="card" href="{{gif.url}}" style="background-image: url({{gif.img}})" target="new">
  </a>
  {{/each }}
</div>

<a href="/" class="btn btn-dark">go again</a>
